<!DOCTYPE HTML>
<HEAD>
  <title>Scientific Abstract Cloud</title>
</HEAD>
<BODY>
  <h1>Scientific Abstract Cloud</h1>

  <p>This application will generate a word cloud from PubMed abstracts. Use the textbox below to enter your full name or other search parameter.
  </p>

   <form method='post' action='cloud' >
      <p> Enter search parameter:
        <input type='text' name='search_term'/>
      </p>

     <p>Maximum number of papers to compile
       <select name='num_papers'>
         <option value=20 selected="selected">20</option>
         <option value=50>50</option>
         <option value=100>100</option>
	 <option value=500>500</option>
       </select>

       <input type='submit' name='Submit' />
     </p>

    </form>

    <p>Checkout my 
      <a href='https://congressional-conformity.herokuapp.com/index'>US Congressional Conformity</a> app as well!
    </p>	
    <p>Questions? Comments? Josh Friedman: jfried23@uw.edu</p>

</BODY>
