<!DOCTYPE HTML>
<HEAD>
  <title>Scientific Word Cloud</title>
</HEAD>
<BODY>
  <h1>Scientific Cloud</h1>

   <form method='post' action='cloud' >
      <p> Enter search paramter:
        <input type='text' name='search_term' />
        <input type='submit' name='Submit' />
      </p>

     <p> Maximum number of papers to compile
       <select name='num_papers'>
         <option value=10 selected="selected">10</option>
         <option value=20>20</option>
         <option value=50>50</option>
       </select>
     </p>

    </form>

</BODY>
